<app-navbar></app-navbar>
<div class="content">
  <div id="wrapper" class="animate">

    <div class="container-fluid">
      <nav aria-label="breadcrumb" >
        <ol class="breadcrumb" style="background-color: white">
          <li class="breadcrumb-item" ><a routerLink="/">Inicio</a></li>
          <li class="breadcrumb-item" ><a routerLink="/operador/reportes">Reportes</a></li>
          <li class="breadcrumb-item active breadcumb-pagina-actual" aria-current="page" >Detalles</li>
        </ol>
      </nav>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-black-50">Conductor: {{nameDriver}}  </h5>
              <div class="card-text">
                <div class="row">
                  <div class="col-md-8"></div>
                  <div *ngIf="!loadInfo" class="col-md-12">
                    <app-loading></app-loading>
                  </div>


                  <div *ngIf="loadInfo" class="col-md-12 tablas">
                    <section id="tabs" class="project-tab col-md-12">
                        <div class="row">
                          <div class="col-md-12">
                            <nav>
                              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Datos Personales</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Datos Médicos</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Datos del Vehiculo</a>
                              </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <table class="table " cellspacing="0">
                                  <thead>
                                  <tr>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                  </tr>
                                  </thead>
                                  <tbody >
                                  <tr>
                                    <td><strong># Licencia</strong></td>
                                    <td class="text-secondary">{{driverInfo.user}}</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Apellido Paterno</strong></td>
                                    <td class="text-secondary">{{driverInfo.appat}}</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Apellido Materno</strong></td>
                                    <td class="text-secondary">{{driverInfo.amat}}</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Nombre</strong></td>
                                    <td class="text-secondary">{{driverInfo.name}}</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Edad</strong></td>
                                    <td class="text-secondary">{{driverInfo.edad}} años</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Teléfono</strong></td>
                                    <td class="text-secondary">{{driverInfo.phone}}</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Correo Electrónico</strong></td>
                                    <td class="text-secondary">{{driverInfo.email}}</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Calle</strong></td>
                                    <td class="text-secondary">{{driverInfo.calle}}</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Colonia</strong></td>
                                    <td class="text-secondary">{{driverInfo.colony}}</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Código Postal</strong></td>
                                    <td class="text-secondary">{{driverInfo.cp}}</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Municipio</strong></td>
                                    <td class="text-secondary">{{driverInfo.municipality}}</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Número Exterior</strong></td>
                                    <td class="text-secondary">{{driverInfo.noext}}</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Número Interior</strong></td>
                                    <td class="text-secondary">{{driverInfo.noint}}</td>
                                  </tr>


                                  </tbody>
                                </table>
                              </div>
                              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <table class="table" cellspacing="0">
                                  <thead>
                                  <tr>
                                    <th>Project Name</th>
                                    <th>Employer</th>
                                    <th>Time</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                    <td><a href="#">Work 1</a></td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                  </tr>
                                  <tr>
                                    <td><a href="#">Work 2</a></td>
                                    <td>Moe</td>
                                    <td>mary@example.com</td>
                                  </tr>
                                  <tr>
                                    <td><a href="#">Work 3</a></td>
                                    <td>Dooley</td>
                                    <td>july@example.com</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <table class="table" cellspacing="0">
                                  <thead>
                                  <tr>
                                    <th>Contest Name</th>
                                    <th>Date</th>
                                    <th>Award Position</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                    <td><a href="#">Work 1</a></td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                  </tr>
                                  <tr>
                                    <td><a href="#">Work 2</a></td>
                                    <td>Moe</td>
                                    <td>mary@example.com</td>
                                  </tr>
                                  <tr>
                                    <td><a href="#">Work 3</a></td>
                                    <td>Dooley</td>
                                    <td>july@example.com</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                    </section>

                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
