.footer{
  background-color: #F5F5F5;
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 55px;

  box-shadow: 2px -1px 2px rgba(0,0,0,.1);
}
.text-footer{
  color: rgba(0,0,0,.5);
  padding-top: 15px;
  font-size:15px;
}
