<footer class="footer">
  <div class="container text-center">
    <div class="text-black text-footer"> <strong>Sistema de Atención de Emergencia en Caso de Accidente Automovilístico.</strong> </div>
  </div>
</footer>
