<nav id="barra-operadores" class="navbar header-top fixed-top navbar-expand-lg" >
  <a class="navbar-brand link-dasboard"  >
    <img src="./assets/img/cd.png" width="auto" height="45" alt="">
    <span style="font-weight: 600;" class="text-white"> COLLIDE DETECT</span>
  </a>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">

    <ul class="navbar-nav animate side-nav">
      <li class="nav-item">
        <a class="nav-link link-dasboard"   routerLink="./operador">
          <i class="material-icons icono-menu">
            home
          </i>

          <span class="ttip"> Inicio</span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="./operador/reportes" class="nav-link"   >
          <i class="material-icons icono-menu">
            emoji_transportation
          </i>
          <span class="ttip"> Reportes de Accidentes</span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="{{ServerFront}}/estacion/articulos" class="nav-link" >
          <i class="fas fa-clipboard-list icono-menu"></i>
          <span class="ttip"> Artículos</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="{{ServerFront}}/estacion/ordenes/" class="nav-link" >
          <i class="fas fa-file-invoice-dollar icono-menu"></i>
          <span class="ttip"> Ordenes de Venta</span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="{{ServerFront}}/estacion/config" class="nav-link" >
          <i class="fas fa-gas-pump icono-menu"></i>
          <span class="ttip"> Estación</span>
        </a>
      </li>

    </ul>

    <ul class="navbar-nav ml-md-auto d-md-flex">
      <li class="nav-item">
        <!--<a class="nav-link text-white"  > <strong>Operador: {{nombreEstacion}}</strong></a>-->
      </li>
      <li class="nav-item">
        <a class="nav-link text-white"    (click)="closeSesion()"> Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>
