body {
  font-family: 'Montserrat', sans-serif;
  transition: 3s;
}
.component-sidebar{
  display:none;
}

.login-container {
  margin-top: 7%;
  border: 1px solid #CCD1D1;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width:43%;

}

.ads {

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  padding: 15px;
  min-height:520px;

}

.ads #text {
  bottom: 10px;
  font-size: 12.5px;
  position: absolute;
  font-weight: 500;
}

.profile-img {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 5px;

}



@keyframes mymove {
  from {border: 1px solid #F2F3F4;}
  to {border: 8px solid #F2F3F4;}
}

.login-form {
  padding: 25px;
  background-color: #fff;
}

.login-form h3 {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
}

.form-control {
  font-size: 14px;
}

.forget-password a {
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
}

.label-login{
  font-weight: bold;
}

.text{
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
}
