<div class="main-wrapper">
  <div class="container login-container">
    <div class="row">

      <div class="col-md-6 ads text colorPrimary" >
        <span id="text" class="text-center col-md-12">

        </span>
      </div>
      <div class="col-md-6 col-sm-12 login-form">
        <div class="profile-img">
          <img class="img-fluid" src="./assets/img/ic_launcher-web.png" alt="Card image cap" style="max-height:200px!important;"/>
        </div>
        <h4 class="text-center">COLLIDE DETECT</h4>
        <br>
        <form>
          <div class="input-group col-xs-12">

            <span class="form-control" style="max-width: 45px"><i class="material-icons">person</i></span>
            <input type="email" #usuario name="usuario" id="usuario" style="text-align: center;" placeholder="Ingrese su nombre de usuario" class="form-control" [(ngModel)]="user" autofocus>
          </div><br>
          <div class="input-group col-xs-12">
            <span class="form-control" style="max-width: 45px"><i class="material-icons">https</i></span>
            <input type="password" #password name="password" id="password" style="text-align: center;" placeholder="Ingrese su contraseña" class="form-control">
          </div><br>
          <div class="input-group col-xs-4">
            <button type="submit" (click)="logIn(usuario.value, password.value, $event, content) " id="login-button" class="col-md-12 btn colorPrimary colorText">Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
