<app-navbar></app-navbar>
<div class="content">
  <div id="wrapper" class="animate">

    <div class="container-fluid">
      <nav aria-label="breadcrumb" >
        <ol class="breadcrumb" style="background-color: white">
          <li class="breadcrumb-item" ><a routerLink="/">Inicio</a></li>
          <li class="breadcrumb-item active breadcumb-pagina-actual" aria-current="page" >Reportes</li>
        </ol>
      </nav>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-black-50">Reportes de Accidentes</h5>
              <div class="card-text">
                <div class="row">
                  <div class="col-md-8"></div>
                  <div class="col-md-4 text-right" style="font-weight: 600;font-size: 20px">
                    {{nReportes}} reportes de colisiones.
                  </div>


                    <div *ngIf="!loadReports" class="col-md-12">
                      <app-loading></app-loading>
                    </div>


                  <div *ngIf="loadReports" class="col-md-12 tablas">
                    <table class="table" >
                      <thead>
                      <tr>
                        <th scope="col"># Reporte</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Latitud</th>
                        <th scope="col">Longitud</th>
                        <th scope="col">Velocidad</th>
                        <th scope="col">Status</th>
                      </tr>
                      </thead>


                      <tbody>
                      <tr  *ngFor="let report of reportes">
                        <th scope="row">{{report._id}}</th>
                        <td>{{report.date}}</td>
                        <td>{{report.hour}}</td>
                        <td>{{report.latitud}}</td>
                        <td>{{report.longitud}}</td>
                        <td>{{report.velocity}} {{report.metricUnit}}</td>
                        <td>
                          <a routerLink="./detalles/{{report.idDriver}}">
                            <button *ngIf="report.statusReport=='Pendiente'"  type="button" class="btn btn-danger btn-sm text-white">
                              <i class="fas fa-pencil-alt"></i>&nbsp;<strong>{{report.statusReport}}</strong>
                            </button>

                            <button *ngIf="report.statusReport=='En Camino'"  type="button" class="btn btn-info btn-sm text-white">
                              <i class="fas fa-pencil-alt"></i>&nbsp;<strong>{{report.statusReport}}</strong>
                            </button>

                            <button *ngIf="report.statusReport=='Atendido'"  type="button" class="btn btn-success btn-sm text-white">
                              <i class="fas fa-pencil-alt"></i>&nbsp;<strong>{{report.statusReport}}</strong>
                            </button>
                          </a>

                        </td>

                      </tr>

                      </tbody>
                    </table>
                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
