/* You can add global styles to this file, and also import other style files */
.colorPrimary{
  background-color:#607D8B!important;
}
.colorPrimaryDark{
  background-color:#455A64!important;
}
.colorPrimaryContent{
  background-color:#fff ;
}
.colorAccent{
  background-color:#FF5252!important;
}
.colorPrimaryLight{
  background-color:#CFD8DC!important;
}
.colorText{
  color:#FFFFFF !important;
}
.colorTextHint{
  color:#CCCCCC!important;
}
.colorPrimaryText{
  color:#212121!important;
}
.colorSecondaryText{
  color:#757575;
}.colorDividerColor{
  background-color: #BDBDBD;
 }


#wrapper{padding:90px 15px;}
.navbar-expand-lg .navbar-nav.side-nav{flex-direction: column;}
.header-top{box-shadow: 0 3px 5px rgba(0,0,0,.1)}
/*Dashboard*/
.tamanio-card-dashboard{
  max-height: 670px;min-height: 660px;
}
.navbar{
  background-color: #455A64!important;
}

@media(min-width:992px) {
  #wrapper{margin-left:70px}

  .navbar-nav.side-nav{text-align:center;background: #FFF;
    box-shadow: 2px 1px 2px rgba(0,0,0,.1);position:fixed;top:71px;
    flex-direction: column!important;left:0px;width:70px;bottom:0;padding-bottom:40px}

  .side-nav li a {padding: 20px;display:block;position:relative;}
  .icono-menu{font-size:30px;margin: 0 10px 0 5px;color:#757575}
  .navbar-nav li a .ttip {opacity:0;position:absolute;    background: #F5F5F5;
    left: 0px;
    white-space: nowrap;
    top: 16px;
    border-radius: 3px;
    padding: 5px 10px;
    transition: .5s ease all;}
  .navbar-nav li a:hover .ttip {opacity:1;left: 70px;}
  .navbar-nav li a .ttip:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #333;
    border-width: 5px;
    margin-top: -5px;
  }
}
@media screen and (max-width: 960px) {
  .tablas{
    overflow-x: auto;

  }
  .dasboard-body{
    max-height: 680px;
    overflow-y: auto;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
    height:9px ;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .hide-phone{
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .tablas{
    max-height: 15%;
    overflow-y: auto;

  }
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
    height:9px ;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .hide-phone{
    display: none;
  }
}
